---
import "../style.css";
import { links } from "../data";
import Layout from "../components/Layout.astro";
---

<Layout title="jack willars">
  <div class="column">
    <p>Experimenting</p>
    <p class="timeline">B. 2003. Based in UK,</p>
    <p>Developing / Designing at BSPOKE Software.</p>

    {
      links.map((link, i) => (
        <>
          <a href={link.to} target="_blank">
            {link.label}
          </a>
          {i < links.length - 1 ? <span>·</span> : null}
        </>
      ))
    }

    <p class="footer">© {new Date().getFullYear()} jack willars.</p>
  </div>
</Layout>
