---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <p class="headline">● {title}</p>
    <slot />

    <script
      async
      src="https://eu.umami.is/script.js"
      data-website-id="e5cd4d1b-19d3-4151-9109-aed95c5a81da"></script>
  </body>
</html>
